tile-color = yellow
tile-border-color = red
.question-tile
  float: left
  width: 150px
  height: 50px
  background-color: tile-color
  border: 1px solid tile-border-color
  margin: 5px
  cursor: pointer
